.game-grid {
  display: grid;
  gap: 0.5rem;
  height: 100%;
  width: 100%;
}

.game-grid[data-size="4"] {
  grid-template-columns: repeat(4, 1fr);
}

.game-grid[data-size="5"] {
  grid-template-columns: repeat(5, 1fr);
}

.game-grid[data-size="6"] {
  grid-template-columns: repeat(6, 1fr);
} 

.game-grid[data-size="7"] {
  grid-template-columns: repeat(7, 1fr);
}

.game-grid[data-size="8"] {
  grid-template-columns: repeat(8, 1fr);
}